# Core ML
tensorflow==2.16.1

# Numerical & ML utils
numpy==1.26.4
scikit-learn>=1.3.0

# Image processing
pillow>=10.0.0
opencv-python<4.10

# Visualization
matplotlib>=3.8.0

# Web app
flask>=3.0.0
gunicorn>=21.2.0
